<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @album.title %>
</p>

<p>
  <b>Releaseyear:</b>
  <%= @album.releaseYear %>
</p>

<p>
  <b>Artist:</b>
  <%= @album.artist_id %>
</p>

<p>
  <b>Num of copies:</b>
  <%= @album.num_of_copies %>
</p>


<%= link_to 'Edit', edit_album_path(@album) %> |
<%= link_to 'Back', albums_path %>
